div {
    /* border: 2px solid aqua; */
    width: 300px;
}

#boy {
    position: relative;
    top: 100px;
    z-index: 2;
}

#ring {
    position: relative;
    z-index: 1;
}

#water {
    position: relative;
    bottom: 170px;
    z-index: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav>ul>li {
    background-color: tomato;
    padding: 10px 20px;
    /* border-radius: 5px; */
}

nav li {
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
    color: white;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: orange;
    padding: 0;
    margin: 0;
}

.dropdown>li {
    padding: 5px;
    margin: 0;
}

/* nav>ul>li:hover>ul {
    display: block;
} */

#pos:hover>ul {
    display: block;
}